# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "Bg1WMK6KdXQ0jIA99Dhns/RW8WWTkgnboGIOPvy+c5qHAP3uktIMtMnMthGmnrwWuohk7pPnPbljGsk6sHzEsf0ZfgsIHO+u/DS6O9hZKbJjOHg2pH0QZSV4yMuO9hRu5x8BK7gSMHZnYluDeLWxdj7ZWb19J8oripxwhT2teCOtaWv6hI45D3qCJD7+a2ipOAhiuqGvWwrQ12l+CZkYRkmxsHdmViJGMUXzQC8p9V3oLiKq4hSnWIdVzXiafC/0s2ZN3lE8gJ/N0mAKy1K4J34IdCPzY0Curv6LK36CxWUpmZ1ciP8hQ7tsi3e2D3XHB/flOBqpYfWmndKTwPYdNiIV0oJHN1qqSa53vuLTkVmb3+PxVfpV9u2hdEqNpMrefOFORtO1LOIB9A2DKKtMp3NQeU6iXn+NEUn3KlRTypDB6uFb5ashqWEvSqwNq5bo16gF/z6Xr+2RhDYmvzmPSFTrvIfONJrgsPCOaBICV4gnp7STvdb4NbnmCBEshGSZztvVq1RUyBwfrkxPSzGHtkgX2vQ815HbmySD2JetHq8OA7DeRnGcdXRP0ONq4gkipHpb+omtkp62seC90CusSILSUYjHTFAhAMnvyBHBvPB7D4TSZGthFdXw3QH3nTG0FFojk4e2qifZvHIch3aoMoQi9iDACIXdpLyHyxOJgA8="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2 conda-build
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  -  conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml